<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style/loginSignup.css">
  <title>Login Page</title>
</head>
<body>
  
  <main class="mainContainer">
    <h1> <img src="./images/Logo.jpg" alt="RxMember Logo"> </h1>
    
    <form class="form" method="POST" action="/login">
      <div class="form-row">
        <label>Username: </label>
        <input class="input" type="text" name="username"> 
      </div>
      <div class="form-row">
        <label>Password: </label>
        <input class="input" type="password" name="password">
      </div>
      <p></p>
      <input type='submit' value="login" class="button">
      <!-- <button class="button">Login</button> -->
      <p></p>
    </form>
    <div id="OAuth">
      <div>Login with <a href="www.google.com">Google</a></div>
      <div>Login with <a href="www.facebook.com">Facebook</a></div>
    </div>
  </main>

</body>
</html>
