<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style/loginSignup.css">
  <title>Sign-Up Page</title>
</head>
<body>
  <main class="mainContainer">
  <h1> <img src="./images/Logo.jpg" alt="RxMember Logo"> </h1>
  <h2>Please fill out the following: </h2>

  <form class="form" method="POST" action="/signup">
    <div class="form-row" class="username-field">
      <label>Username: </label>
      <input class="input" type="text">
    </div>
    <div class="form-row" class="password-field">
      <label>Password: </label>
      <input class="input" type="password">
    </div>
    <div class="form-row" class="email-field">
      <label>Email: </label>
      <input class="input" type="text"/>
    </div>
    <div class="form-row" class="DOB-field">
      <label>Date of Birth: </label>
      <input class="input" type="text"/>
    </div>
    <p></p>
    <button class="button">Sign Up</button>
    <p></p>
    
  </form>
  <div id="OAuth">
    <div>Sign in with <a href="www.google.com">Google</a></div>
    <div>Sign in with <a href="www.facebook.com">Facebook</a></div>
  </div>

</main>




</body>
</html>
