
body {
  background-color: white
}

.mainContainer {
  background-color: white;
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.form {
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  border: 3px solid #f1f1f1;
  font-size: large;
  font-family: arial;
}


.form-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 2em;
}

.form-row > label {
  flex: 1;
  padding-right: 0.5em;
}

.form-row > input {
  flex: 4;
  margin-right: 3em;
}

.input {
  width: 200px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.button {
  align-self: center;
  width: 25%;
  background-color: rgb(118, 189, 124); 
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  border-radius: 0.5em;
  transition: 300ms;
}

.button:hover {
  background-color: rgb(2, 172, 16);

}


h2 {
  font-family: arial;
  font-size: medium
}

#OAuth {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1em;
}